.popup-card {
  border: 1px solid #a8a8a8;
  width: 200px;
  height: auto;
  color: black;
  background-color:#9A8373;
  border-radius: 0px 0px 16px 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-top:7px;
  .name {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    text-align: left;
    margin-top: -7px;
  }
.content{
  width: 500px;
}
  .headline {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    margin-top: -15px;
  }
  .popup-option {
    cursor: pointer;
  }
}
.popup-card{

  
}
.popup-card p{
  position: relative;
  left:70px;

}

.profile-edit-inputs input{
width: 800px;
padding:8px;
border-radius: 9px;
border: none;
}
.profile-edit-inputs{
  width: 500px;
}

.heading p {
  font-size: 40px;
  font-weight: 800;
}
p.company{
  font-size: 50px;
 font-weight: 500;
}