.common-btn {
  width: 200px;
  height: 30px;
  cursor: pointer;
  background-color: #6f4e37ad;
  border: 2px solid #6F4E37;
  color: white;
  border-radius: 30px;
  font-family: system-ui;
  font-weight: 600;
  font-size: 14px;
  margin: 7px 0;
}

.common-btn:hover {
  background-color: rgb(230, 230, 230);
  border: 2px solid #6F4E37;
  color:#6F4E37;
}
