$primary: rgba(37, 37, 37, 0.8);
$white: rgba(255, 255, 255, 0.8);
$gray-600: rgb(0, 0, 0);

// Custom styling for NotificationComponent
.notification-component {
    margin-top: 9%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 4%;
    
  .card {
    margin-bottom: 19px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    
    .card-header {
      background-color: $primary;
      color: $white;
      font-weight: bold;
      font-size: 18px;
      padding: 9px;
      border-radius: 20px 20px 0% 0%;
    }
    
    .card-body {
      padding: 20px;
      background-color: rgba(75, 75, 75, 0.233);
      border-radius: 0% 0% 12px 12px ;
      blockquote {
        border-left: 5px solid $primary;
        padding-left: 15px;
        opacity: 0.8;
        
        p {
          margin-bottom: 0;
          color: $gray-600;
          font-size: 17px;
        }
        
        footer {
          margin-top: 10px;
          font-size: 14px;
          color: $gray-600;
          
          cite {
            font-style: italic;
          }
        }
      }
    }
  }
}
