$linkedinBlue1: rgba(218, 158, 101, 0.726);
$linkedinBlue2: rgb(148, 103, 60);
$linkedinBlue3: #6F4E37;
.profile-card1{
  width: 60%;
  display:flex;
  justify-items: center;
  align-items: center;
  height: 9%;
  background-color: #d4c4ba;
  border-radius: 5px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  position: relative;
  
}
.profile-edit-inputs {
  display: grid;
  margin-top: 40px;
  gap: 20px;

  label {
    font-family: system-ui;
    margin-bottom: -15px;
  }

  .edit-input {
    width: 300px;

    height: 40px;
  }
}

.save-container {
  display: flex;
  justify-content: center;
}

.save-btn {
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: $linkedinBlue2;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
}

.close-icon {
  cursor: pointer;
  display: flex;
  position: relative;
}

.edit-btn {
  position: absolute;
  right: 20px;
  margin-top: 10%;}